PicPickWpf/Versioning/Schema/PicPickVersionInfo.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="PicPickVersionInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Setup" maxOccurs="1">
          <xs:complexType>
            <xs:attribute name="URI" type="xs:string" use="required" />
          </xs:complexType>
        </xs:element>
        <xs:element maxOccurs="unbounded" name="Version">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="Change">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:string">
                      <xs:attribute name="type" type="xs:string" use="required" />
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="version" type="xs:string" use="required" />
            <xs:attribute name="notifyVersion" type="xs:string" use="required" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>